<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overview</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <span class="navbar-brand mb-0 h1">Wizwiki-W7500</span>
    </nav>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw; margin-left:12%">
            <canvas id="myChart"></canvas>
        </div>
    <script>
        var created = [];
        var info = [];
        {%for item in data%}
            info.push({
                "x": "{{ item.created|date:"r"}}",
                "y": "{{ item.value }}"
            });
        {%endfor%}
        {% for item in data%}
            date = new Date("{{ item.created|date:"r"}}");
            date = date.toString().trim().slice(0,-31);
            created.push(date)
        {%endfor%}
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx,{
            label: 'LDR Data',
            type: 'line',
            data: {
                labels: created,
                datasets: [{
                    label: 'LDR Data',
                    data: info,
                    borderColor: [
                        'rgba(38, 166, 154, 1)'
                    ],  
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            },   
        });
    </script>
</body>
</html>