{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/uikit-icons.js' %}"></script>
    <script src="{% static 'js/websocketbridge.js' %}"></script>
    <title>Template</title>
</head>

<body>
    <div>
        <div class=" uk-navbar-container" style="background-color: #026C86;">
            <div class=" uk-container uk-container-expand">
                <nav class=" uk-navbar">
                    <div class=" uk-navbar-left">
                        <ul class=" uk-navbar-nav">
                            <li class=" uk-active">
                                <a href="">
                                    <span class=" uk-text-lead uk-text-capitalize" style="color: #FAFAFA;">WizNet WizWiki-W7500</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class=" uk-background-cover uk-section" uk-height-viewport="offset-top: true;offset-bottom: true" style="background-image:url('/static/7096.jpg')">
            <div class="uk-container uk-container-large" style="opacity:1">
                <div class=" uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-2@s uk-child-width-1-2@xs">
                    <div class=" uk-card uk-card-default uk-card-large uk-card-body uk-card-hover uk-align-center" style="padding:35px 35px 15px 35px">
                        <div class="container">
                            <h4 class=" uk-text-center">Welcome to Wiznet</h4>
                            <div class=" uk-tab-center">
                                <ul class=" uk-flex-center" uk-tab="connect: #login-form; animation: uk-animation-fade" uk-tab>
                                    <li class=" uk-active">
                                        <a href="">Publish</a>
                                    </li>
                                    <li>
                                        <a href="">Subscribe</a>
                                    </li>
                                    <li>
                                        <a href="">Messages</a>
                                    </li>
                                </ul>
                            </div>
                            <ul id="login-form" class=" uk-switcher">
                                <li>
                                    <form id="publish" class=" uk-form-default uk-grid-medium" uk-grid>
                                        {% csrf_token %}
                                        <div class=" uk-width-1-2">
                                            <label for="publish-topic" class=" uk-form-label">Topic</label>
                                            <div class=" uk-form-controls">
                                                <input type="text" class=" uk-input" id="publish-topic">
                                            </div>
                                        </div>
                                        <div class="uk-width-1-2">
                                            <label for="publish-content" class=" uk-form-label">Content</label>
                                            <div class=" uk-form-controls">
                                                <input type="text" id="publish-content" class=" uk-input">
                                            </div>
                                        </div>
                                        <div class=" uk-align-center">
                                            <button class=" uk-button uk-button-default" style="background-color:#026C86;color:#FAFAFA">Publish</button>
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <form name="subscribe" class=" uk-form-default uk-grid uk-grid-medium uk-child-width-1-2" uk-grid>
                                        <div class=" uk-width-1-2">
                                            <label for="subscribe-topic" class=" uk-form-label">Topic</label>
                                            <div class=" uk-form-controls">
                                                <input type="text" class=" uk-input" id="subscribe-topic">
                                            </div>
                                        </div>
                                        <div class=" uk-text-center" style=" margin-top:24px">
                                            <button class=" uk-button uk-button-default" id="subscribe" style="background-color:#026C86;color:#FAFAFA">Subscribe</button>
                                        </div>
                                    </form>
                                </li>
                                <li class=" uk-container">
                                    <div class=" uk-grid uk-grid-medium uk-child-width-1-2">
                                        <div class=" uk-text-center">
                                            <label for="topic" class=" uk-label" style="background-color:#026C86;color:#FAFAFA">Topics</label>
                                        </div>
                                        <div class=" uk-text-center">
                                            <label for="msg" class=" uk-label " style="background-color:#026C86;color:#FAFAFA">Payload</label>
                                        </div>
                                        <div class=" uk-margin-small-top">
                                            <textarea name="messages" id="topic" cols="1" rows="10" class=" uk-textarea uk-text-center" readonly></textarea>
                                        </div>
                                        <div class=" uk-margin-small-top">
                                            <textarea name="messages" id="msg" cols="1" rows="10" class=" uk-textarea uk-text-center" readonly></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>